.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.palette, .arena-container {
    width: 45%;
}

.palette {
    border: 1px solid #ccc;
    padding: 10px;
}

.arena {
    border: 1px dashed #aaa;
    min-height: 200px;
    padding: 10px;
}

.block {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for nested blocks */
.nested {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}
