<!DOCTYPE html>
<html>
<head>
	<title>Image Selector</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
			grid-auto-rows: minmax(512px, auto);
			grid-gap: 10px;
		}
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			border: 5px solid white;
			cursor: pointer;
		}
		img.selected {
			border: 5px solid green;
		}
	</style>
</head>
<body ondragstart="return false;" ondrop="return false;">
	<h1>Image Selector</h1>
	Select the files you want to keep, then press submit.  The selected files will be moved to ../keep
	<form id="image-form" method="post" action="/select">
		<div class="grid">
			{{range .Images}}
			<span>
			<img draggable="false" src="/images/{{.Filename}}" data-filename="{{.Filename}}"{{if .Selected}} class="selected"{{end}} />
			<input type="checkbox" name="{{.Filename}}" value="keep"{{if .Selected}} checked{{end}} style="display: none;">
			</span>
			{{end}}
		</div>
		<input type="submit" value="Submit" >
	</form>
	<div id="responseContainer"></div> <!-- Container to display server response -->

	<script>
		$(document).ready(function() {
			$("img").click(function() {
				$(this).toggleClass("selected");
				$(this).siblings("input[type='checkbox']").prop("checked", $(this).hasClass("selected"));
			});


			$("form").submit(function(e) {
            e.preventDefault();

            var selectedFilenames = $("input[type='checkbox']:checked").map(function() {
                return $(this).attr("name");
            }).get();

            var unselectedFilenames = $("input[type='checkbox']:not(:checked)").map(function() {
                return $(this).attr("name");
            }).get();

            var data = {
                wanted: selectedFilenames,
                unwanted: unselectedFilenames
            };

            $.ajax({
                url: '/movefiles',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    // Inject server's response HTML into the container
                    $("#responseContainer").html(response);
                },
                error: function(error) {
                    // Handle error
                    console.error(error);
                }
            });
        });

		});
	</script>
</body>
</html>

