<!DOCTYPE html>
<html>
<head>
	<title>File Move Results</title>
</head>
<body draggable="false">
    <a href="/">Return to main page</a>
	<h1>{{ .Message }}</h1>
	{{ if .Success }}
		<p>The following files were moved to the 'keep' directory:</p>
		<ul>
			{{ range .Wanted }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
		<p>The following files were moved to the 'nokeep' directory:</p>
		<ul>
			{{ range .Unwanted }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
	{{ else }}
		<p>Sorry, there was an error moving the selected files.</p>
	{{ end }}
	<a href="/">Return to main page</a>
</body>
</html>
